body {
    margin: 0;
    min-width: 1210px;
}

/*HEADER starts*/
header {
    height: 70vh;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    margin: 0px;
    min-height: 500px;   
}

.header-hat {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}

.header-content {
    width: 80%;
    margin: 70px;
    display: flex;
    justify-content: space-between;
}

.right-header-content, .left-header-content {
   max-width: 40%;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

#logo-text {
    font-size: 24px;
    color: #f9faf8;
}

#hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.right-header-content {
    align-items: flex-start;
}

#button {
    color: white;
    background-color: #3882f6;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
/*HEADER ends*/

/*MAIN starts*/
main {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
}

#information-header {
    font-size: 36px;
    font-weight: bolder;
}
.images-main {
    display: flex;
}

.images-main p {
    width: 150px;   
}

.images-main div {
    width: 150px;
    margin: 25px;
}

.images-main img {
    border-radius: 10px;
    border: solid;
    border-color: #3882f6;
    border-width: 5px;
}
/*MAIN ends*/

/*QUOTE starts*/
.quote {
    height: 50vh;
    background-color: #e5e7eb;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#author {
    width: 376px;
    display: flex;
    justify-content: flex-end;
}

.quote h1 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
/*QUOTE ends*/

/*SECONDARY starts*/
.secondary {
    height: 40vh;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#blue-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width: 60%;
    border-radius: 10px;
}

#blue-container button {
    background-color: #3882f6;
    color: white;
    width: 120px;
    height: 40px;
    border: solid white;
    border-radius: 10px;
    font-size: 18px;
}

#blue-container div {
    color: white;
}

#blue-left {
    width: 60%;
}
/*SECONDARY ends*/

/*FOOTER starts*/
footer {
    height: 20vh;
    background-color: #1f2937;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*FOOTER ends*/