body {
    margin: 0;
}

/*HEADER starts*/
header {
    height: 70vh;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;   
}

.header-hat {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}

.header-content {
    width: 80%;
    margin: 70px;
    display: flex;
    justify-content: space-between;
    

}

.right-header-content, .left-header-content {
   max-width: 40%; 
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

#logo-text {
    font-size: 24px;
    color: #f9faf8;
}

#hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;

}

.right-header-content {
    align-items: flex-start;
}

#button {
    color: white;
    background-color: rgb(57, 136, 240);
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    
}
/*HEADER ends*/

/*MAIN starts*/
main {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.images-main {
    display: flex;
}

.images-main p {
    width: 150px;   
}

.images-main div {
    width: 150px;
    margin: 25px;

}

.images-main img {
    border-radius: 10px;
    border: solid;
    border-color: rgb(57, 136, 240);
    border-width: 5px;

}
/*MAIN ends*/

.quote {
    height: 50vh;
    background-color: #e5e7eb;
}

.secondary {
    height: 40vh;
}

footer {
    height: 20vh;
    background-color: #1f2937;
}